.task-app {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.task-app__form {
  width: 300px;
  margin-top: 10px;
}
.task-app__form__row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.task-app__form__row label {
  font-weight: 600;
}
.task-app__table {
  border-collapse: collapse;
  border: 1px solid grey;
}
.task-app__table td,
.task-app__table th {
  padding: 10px;
  border: 1px solid grey;
}
.task-app_table_body > tr > td {
  gap: 50px;
  display: flex;
}
h2 {
  margin: 0;
  padding-bottom: 10px;
}
.task-app__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.task-app__wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}
.task-app__filter__buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 20px;
}
.task-app__filter__buttons button {
  padding: 7px 25px;
}
.active {
  background-color: aqua;
}
